# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.iml
node_modules/
dist/

tmp/
bower_components/

# For unite javascript code style
# Ignore everything under .idea/ but codeStyles/
.idea/*
!.idea/codeStyleSettings.xml
!.idea/codeStyles/
