<div ng-init="ctrl.init()" class="hs-container hs-sale-item ">
  <!--hs-special-pager-box-->
  <div class="row" ng-if="ctrl.tableShow">
    <article class="col-md-12">
      <header class="header current-parent-box" style="display: flex; align-items: center;">
        <span>门店对标（按类别分析）</span>
        <div class="hs-breadcrumbs" ng-if="!ctrl.hideTree">
          <breadcrumbs data="ctrl.categoryTree" click="ctrl.getParent(code, level, name)"></breadcrumbs>
        </div>
        <div style="display: flex; align-items: center; margin-left: auto" class="hs-chart-button hs-chart-box">
          <div class="hs-chart-function">
            <chart-toggle
              first="ctrl.sale" second="ctrl.stock"
              show-label="ctrl.showLineLabel" key="{type: 'line', img: 'chart_label_line.svg'}"
            ></chart-toggle>
            <chart-toggle
              first="ctrl.sale" second="ctrl.stock"
              show-label="ctrl.showBarLabel" key="{type: 'bar'}"
            ></chart-toggle>
            <chart-sort sort="ctrl.key.currSort"></chart-sort>
          </div>
        </div>

        <div class="tool-select" style="margin-right: 10px">
          <!-- 类别下拉选择-->
          <select class="form-control" ng-model="ctrl.levelsSelect" ng-change="ctrl.changeLevels()">
            <option value="{{s.id}}" ng-repeat="s in ctrl.levelType track by s.id">{{s.name}}</option>
          </select>
        </div>
        <div class="select-box" style="margin-left: unset">
          <!-- 图表下拉选择 -->
          <select class="form-control" ng-model="ctrl.chartSelect" ng-change="ctrl.changeCharts()">
            <option value="{{s.id}}" ng-repeat="s in ctrl.chartType track by s.id">{{s.name}}</option>
          </select>
        </div>
      </header>
      <div class="body hs-chart-box" >
        <div class="hs-chart">
          <chart option="ctrl.sale" event="ctrl.key.addEvent" load="ctrl.back.loadChart" class="hs-trend"></chart>
          <div class="hs-chart-function">
            <!--<chart-sort sort="ctrl.key.currSort"></chart-sort>-->

            <!--<chart-toggle-->
              <!--first="ctrl.sale" second="ctrl.stock"-->
              <!--show-label="ctrl.showBarLabel" key="{type: 'bar'}"-->
            <!--&gt;</chart-toggle>-->

            <!--<chart-toggle-->
              <!--first="ctrl.sale" second="ctrl.stock"-->
              <!--show-label="ctrl.showLineLabel" key="{type: 'line', img: 'chart_label_line.svg'}"-->
            <!--&gt;</chart-toggle>-->

            <chart-pager page="ctrl.chartPage" init-page="ctrl.back.tablePage"
                         total="ctrl.back.total" is-pager="ctrl.clickChartPage">
            </chart-pager>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="row pager-top-table" ng-if="ctrl.tableShow && !ctrl.pageChanged">
    <article class="col-md-12">
      <header class="header">
        <span>门店对标数据（按类别分析）</span>
      </header>
      <div class="body">
        <table datatable dt-options="ctrl.option" dt-columns="ctrl.column"
               dt-instance="ctrl.instance"
               class="table table-trend hs-table" width="100%">
        </table>
      </div>
    </article>
  </div>
  <div class="row" ng-show="(ctrl.tableShow) && (ctrl.chartSelect == '1' || ctrl.chartSelect == '2' || ctrl.chartSelect == '3')">
    <article class="col-md-12">
      <span>
        <img src="styles\img\round.png" class="home-round">
        <em class="chart_H">品类部门占比图</em>
      </span>
      <div class="body hs-chart-box">
        <span class="header_T_One">{{ctrl.param.firstStore}}</span>
        <span class="header_T_Two">{{ctrl.param.secondStore}}</span>
        <chart option="ctrl.PieChart" load="ctrl.back.loadChart" class="hs-trend"></chart>
      </div>
    </article>
  </div>
</div>




<style>



  .chart_H{
    font-size: 16px;
  }

  .header_T_One{
    position: absolute;
    left: 0;
    top: 50px;
    font-weight: bold;
    color: #007adb;
  }
  .header_T_Two{
    position: absolute;
    left: 50%;
    top: 50px;
    font-weight: bold;
    color: #007adb;
  }

  .tool-select{
    width: 110px;
    float: right;
    margin-left: 5px;
    margin-top: 6px;
    margin-right: 30px;
  }

  .select-box{
    width: 150px;
    float: right;
    margin-left: 130px;
    margin-top: 6px;
    margin-right: 30px;
  }

  .title_span{
    position: absolute;
    left: 15px;
    top: 3px;
  }

  .span_color{
    color: #007adb;
  }

</style>
