<div class="modal-content" ng-init="ctrl.init()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;
    </button>
    <h1 class="modal-title">指标选择</h1>
  </div>
  <div class="modal-body popup-option-table">
    <uib-tabset active="ctrl.active">
      <uib-tab index="1" heading="共通">
        <div class="hs-field first-border-pop">
          <div class="pop-option" ng-repeat="(k, v) in ctrl.originField track by k">
            <p>
              <span>{{v.key.name}}</span>
              <label>
                <input type="checkbox" class="checkbox"
                       ng-model="v.all" ng-disabled="v.disable" ng-click="ctrl.selectAll(v, ctrl.originField)">
                <span>全选</span>
              </label>
            </p>
            <div class="row">
              <div class="{{'col-md-' + v.key.col}}" ng-repeat="l in v.list track by $index">
                <label>
                  <input type="checkbox" class="checkbox"
                         ng-model="l.model" ng-value="l.id" ng-disabled="l.disable || v.disable"
                         ng-click="ctrl.selectOne(l, k, ctrl.originField)"/>
                  <span ng-style="{opacity: l.id ? 1 : 0}">{{l.name}}</span>
                  <span ng-if="l.icon" class="{{l.icon ? l.icon : ''}}">
                <a href="" class="hs-popover-link" uib-popover-template="'{{l.icon + '.html'}}'"
                   popover-placement="top-right" popover-trigger="mouseenter"><i class="glyphicon glyphicon-info-sign"></i></a>
              </span>
                </label>
              </div>
            </div>
          </div>
          <same-ring-setting options="ctrl.options"></same-ring-setting>
        </div>
      </uib-tab>

      <uib-tab index="2" heading="供应商">
        <div class="hs-field">
          <div class="pop-option" ng-repeat="(k, v) in ctrl.supplierField track by k">
            <p>
              <span>{{v.key.name}}</span>
              <label>
                <input type="checkbox" class="checkbox"
                       ng-model="v.all" ng-disabled="v.disable" ng-click="ctrl.selectAll(v, ctrl.supplierField)">
                <span>全选</span>
              </label>
            </p>
            <div class="row">
              <div class="{{'col-md-' + v.key.col}}" ng-repeat="l in v.list track by $index">
                <label>
                  <input type="checkbox" class="checkbox"
                         ng-model="l.model" ng-value="l.id" ng-disabled="l.disable || v.disable"
                         ng-click="ctrl.selectOne(l, k, ctrl.supplierField)"/>
                  <span ng-style="{opacity: l.id ? 1 : 0}">{{l.name}}</span>
                  <span ng-if="l.icon" class="{{l.icon ? l.icon : ''}}">
                <a href="" class="hs-popover-link" uib-popover-template="'{{l.icon + '.html'}}'"
                   popover-placement="top-right" popover-trigger="mouseenter"><i class="glyphicon glyphicon-info-sign"></i></a>
              </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>

  </div>
  <div class="modal-footer">
    <span class="hs-red error" ng-if="ctrl.showError">共通页面至少指定一个指标, 请选择</span>
    <span class="hs-red error" ng-if="ctrl.showManyError">最多指定十个指标, 请减少一些指标</span>
    <button type="button" class="btn btn-primary" ng-click="ctrl.ok()">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.cancel()">取消</button>
  </div>
</div>
