<div class="hs-container top-content-box" ng-init="$ctrl.init()">
  <section ng-if="$ctrl.inited">
    <div class="row condition">
      <article class="col-sm-12">
        <div class="body">
          <div class="row input-choose">
            <div class="col-md-2">
              <search-box click="$ctrl.openClasses()" data="$ctrl.com.classes.val" key="'品类组'"></search-box>
            </div>
            <div class="col-md-2">
              <search-box click="$ctrl.openCat()" data="$ctrl.com.category.val" key="'类别'"></search-box>
            </div>
            <div class="col-md-2">
              <search-box click="$ctrl.openBrand()" data="$ctrl.com.brand.val" key="'品牌'"></search-box>
            </div>
          </div>

          <div class="row input-choose">
            <div class="col-md-6 hs-flex-box">
              <span style="width: 124px">请选择时间周期：</span>
              <select class="form-control" style="width: 96px;"
                      ng-change="$ctrl.changeDate()"
                      ng-model="$ctrl.filter.dataLevel.data">
                <option value="{{y.id}}" ng-repeat="y in $ctrl.allTimeCycle">{{y.name}}</option>
              </select>
            </div>
            <div class="col-md-6 combine-input-box">
              <label>
                <input type="checkbox" ng-model="$ctrl.filter.importDate.check" class="checkbox"/>
                <span></span>
              </label>
              <span>商品引入日期在最近：</span>
              <input numberic min="0" max="999" max-length="3"
                     class="form-control input-number" ng-model="$ctrl.filter.importDate.data"
                     ng-disabled="!$ctrl.filter.importDate.check"
                     ng-class="$ctrl.importDateStyle"/><span>天前</span>
            </div>
          </div>

          <div class="row input-choose">
            <div class="col-md-6 hs-flex-box">
                <label>
                  <input type="checkbox" ng-model="$ctrl.filter.stockCost.check" class="checkbox"/>
                  <span></span>
                </label>
              <span style="width: 93px">最新库存金额：</span>
              <select class="form-control select" ng-model="$ctrl.filter.stockCost.data.compare">
                <option value="{{y.id}}" ng-repeat="y in $ctrl.allCompareStoreCost">{{y.name}}</option>
              </select>
              <input numberic min="0" max="9999" max-length="4"
                     class="form-control input-number" ng-model="$ctrl.filter.stockCost.data.number"
                     ng-disabled="!$ctrl.filter.stockCost.check"
                     ng-class="$ctrl.stockCostStyle"/><span>万元</span>
            </div>
            <div class="col-md-5 hs-flex-box">
              <label>
                <input type="checkbox" ng-model="$ctrl.filter.storeCount.check" class="checkbox"/>
                <span></span>
              </label>
              <span>门店数：</span>
              <select class="form-control select" ng-model="$ctrl.filter.storeCount.data.compare">
                <option value="{{y.id}}" ng-repeat="y in $ctrl.allCompareStoreCount">{{y.name}}</option>
              </select>
              <input numberic min="0" max="999" max-length="3" class="form-control input-number" ng-model="$ctrl.filter.storeCount.data.number"
                     ng-disabled="!$ctrl.filter.storeCount.check"
                     ng-class="$ctrl.storeCountStyle"/>
            </div>
          </div>

          <div style="margin-top: 15px" ng-show="$ctrl.showSearchRes">
            <search-result-box keys="$ctrl.sortCom"></search-result-box>
          </div>

          <div class="hs-search-box">
            <search-show show="$ctrl.showSearchRes"></search-show>
            <hs-search search="$ctrl.search()" finish="$ctrl.finish_import && $ctrl.finish_cost && $ctrl.finish_count"></hs-search>
          </div>

        </div>
      </article>
    </div>

    <div class="row">
      <article class="col-md-12">
        <header class="header">
          <span>不动销异常商品</span>
        </header>
        <div class="body">
          <table datatable dt-options="$ctrl.option" dt-columns="$ctrl.column"
                 dt-instance="$ctrl.instance" ng-if="$ctrl.copyCom"
                 class="table table-trend hs-table" width="100%">
          </table>
        </div>
      </article>
    </div>
  </section>
</div>
<style>
  .label_true {
    border: 1px red solid !important;
  }

  .label_false {
    border: 1px solid #999;
  }
</style>
