<div class="subpage">
  <div class="hs-container top-content-box" ng-init="ctrl.init()">
    <section ng-if="ctrl.inited">
      <div class="row condition">
        <article class="col-sm-12">
          <header class="header top">
            <span>供应商引入</span>
            <a uib-popover-html="ctrl.inOut" popover-trigger="mouseenter" popover-placement='bottom-left'>
              <i style="color: #007ADB;" class="glyphicon glyphicon-info-sign font-size"></i>
            </a>
          </header>
          <div class="body">
            <div class="row input-choose">
              <div class="col-md-2">
                <marketing model="ctrl.com.type_delete" models="ctrl.CommonCon.dateTypeToThis"></marketing>
              </div>
              <div class="col-md-2">
                <marketing model="ctrl.com.year" models="ctrl.dateType"></marketing>
              </div>
              <div class="col-md-2">
                <search-box click="ctrl.openClasses()" data="ctrl.com.classes.val" key="'品类组'"></search-box>
              </div>
              <div class="col-md-2">
                <search-box click="ctrl.openCat()" data="ctrl.com.category.val" key="'类别'"></search-box>
              </div>
              <div class="col-md-2">
                <search-box click="ctrl.openOperation()" data="ctrl.com.operation.val" key="'业态'"></search-box>
              </div>
              <div class="col-md-2">
                <search-box click="ctrl.openStoreList()" data="ctrl.com.store.val" key="'门店'"></search-box>
              </div>
            </div>

            <div class="row input-choose" ng-show="ctrl.show">
              <div class="col-md-2">
                <search-box click="ctrl.openSupplier()" data="ctrl.com.supplier.val" key="'供应商'"></search-box>
              </div>
              <div class="col-md-2">
                <search-box click="ctrl.openDistrict()" data="ctrl.com.district.val" key="'地区'"></search-box>
              </div>
              <div class="col-md-2">
                <search-box click="ctrl.openStoreGroup()" data="ctrl.com.storeGroup.val" key="'店群'"></search-box>
              </div>
            </div>

            <div class="input-choose">
              <split-line show="ctrl.show"></split-line>
            </div>

            <div style="margin-top: 15px" ng-show="ctrl.showSearchRes">
              <search-result-box keys="ctrl.sortCom"></search-result-box>
            </div>

            <div class="hs-search-box">
              <search-show show="ctrl.showSearchRes"></search-show>
              <hs-search search="ctrl.search()" finish="ctrl.back.finish"></hs-search>
              <div class="setting-box btn-group">
                <button class="btn setting-btn" ng-click="ctrl.getTableOption()">数据设定</button>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="row">
        <article class="col-sm-12">
          <header class="header">
            <span>引入数据</span>
          </header>
          <div class="body popover-hover more-margin" ng-if="ctrl.copyCom">
            <table datatable dt-options="ctrl.option" dt-columns="ctrl.column"
                   dt-instance="ctrl.instance"
                   class="table table-trend hs-table" width="100%">
            </table>
            <empty-table show="ctrl.back.empty"></empty-table>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
