<div class="hs-container top-content-box" ng-init="ctrl.init()">
  <section>
    <div class="row supOverlap condition">
      <article class="col-md-12">
        <header class="header">
          <span>供应商交叉分析</span>
        </header>
        <div class="body">
          <div class="row input-choose">
            <div class="col-md-2">
              <input date-custom-picker class="form-control hs-date-picker month-picker" type="text"
                     opts="ctrl.opts" ng-model="ctrl.com.date" placeholder="日期" required readonly
                     ng-click="ctrl.tool.dateRange_click($event)"/>
            </div>
            <div class="col-md-2" ng-class="{'border': ctrl.com.category.val.length === 0}">
              <search-box click="ctrl.openCat()" data="ctrl.com.category.val" key="'类别'"></search-box>
            </div>
            <div class="col-md-2">
              <search-box click="ctrl.openSupplier()" data="ctrl.com.supplier.val" key="'供应商'"></search-box>
            </div>
          </div>

          <div style="margin-top: 15px" ng-show="ctrl.showSearchRes">
            <search-result-box keys="ctrl.sortCom"></search-result-box>
          </div>

          <div class="hs-search-box">
            <search-show show="ctrl.showSearchRes"></search-show>
            <button class="btn btn-primary hs-search" ng-click="ctrl.search()"
                    ng-disabled="ctrl.com.category.val.length === 0">查询
            </button>
          </div>
        </div>
      </article>
    </div>

    <div class="row supOverlap-Chart supOverlap">
      <article class="col-md-12">
        <header class="header">
          <span>指标交叉选择</span>
          <span ng-if="ctrl.lastSelect" class="title-span">上次筛选了 <b>{{ctrl.lastSelect}}</b> 家供应商,请继续筛选</span>
        </header>
        <div style="min-height: 400px;">
          <div class="row">
            <div class="col-md-2">
              <span class="tps">X轴:销售额占比联华类别</span>
            </div>
            <div class="col-md-2">
              <span class="tps">Y轴:销售额占比供应商自己</span>
            </div>
          </div>
          <chart option="ctrl.chart_bar_supply" event="ctrl.event" load="ctrl.loadChart" class="trend"
                 style="min-height: 400px;"></chart>
        </div>
        <div class="row similar" ng-if="ctrl.screen">
          <button class="btn btn-primary sure" ng-click="ctrl.primary()">选择完成</button>
        </div>
      </article>
    </div>

    <div class="row supOverlap" ng-if="ctrl.tableShow">
      <article class="col-md-12">
        <header class="header">
          <span>供应商8020结构</span>
        </header>
        <div class="body popover-hover" ng-if="ctrl.commonParam">
          <table datatable dt-options="ctrl.option" dt-columns="ctrl.column"
                 dt-instance="ctrl.instance"
                 class="table table-trend hs-table" width="100%">
          </table>
        </div>
      </article>
    </div>
  </section>
</div>
