<style>
.l_select label{
  width:50%;
}
.l_select select{
  padding-left:30%; !important;
}
</style>
<div class="subpage">
  <div>
    <sub-menu menus="ctrl.menu" info="ctrl.info" session="ctrl.fromSession"></sub-menu>
    <div class="sub-main hs-container top-content-box" ng-init="ctrl.init()">
      <section>
        <div class="row condition">
          <article class="col-sm-12">
            <header class="header top">
              <span>整体C类预警商品</span>
            </header>

            <div class="body">
              <!--<div class="row" ng-if="ctrl.allCondition!=''">-->
                <!--<div class="col-sm-12 sub-title">-->
                  <!--筛选条件-->
                <!--</div>-->
              <!--</div>-->
              <div class="row input-choose">
                <div class="col-md-2">
                  <hs-new-select options="ctrl.years" selected="ctrl.activeYear"
                                 keys="{id: 'id', title: 'name', all: false, name: '年份'}"></hs-new-select>
                </div>
                <div class="col-md-2">
                  <hs-new-select options="ctrl.months" selected="ctrl.activeMonth"
                                 keys="{id: 'id', title: 'name', all: false, name: '月份'}"></hs-new-select>
                </div>
              </div>
              <div class="row input-choose">
                <div class="col-md-2">
                  <search-box click="ctrl.openClasses()" data="ctrl.com.classes.val" key="'品类组'"></search-box>
                </div>
                <div class="col-md-2">
                  <search-box click="ctrl.openCat()" data="ctrl.com.category.val" key="'类别'"></search-box>
                </div>
                <div class="col-md-2">
                  <hs-new-select options="ctrl.newProductLists" selected="ctrl.com.newProductYear"
                                 keys="{id: 'id', title: 'name', all: false, name: '新品'}"></hs-new-select>
                </div>
              </div>
              <div class="row input-choose">
                <!--<div class="col-md-2">-->
                  <!--<search-box click="ctrl.openBrand()" data="ctrl.com.brand.val" key="'品牌'"></search-box>-->
                <!--</div>-->

                <div class="col-md-2">
                  <div class="l_select">
                    <hs-new-select options="ctrl.areaProductList" selected="ctrl.regional"
                                   keys="{id: 'id', title: 'name', all: false, name: '区域商品'}"></hs-new-select>
                  </div>

                </div>
                <div class="col-md-2">
                  <div class="l_select">
                    <hs-new-select options="ctrl.CityLife" selected="ctrl.cityLife"
                                   keys="{id: 'id', title: 'name', all: false, name: '精超专卖'}"></hs-new-select>
                  </div>

                </div>
                <div class="col-md-2">
                  <div class="l_select">
                    <hs-new-select options="ctrl.lastMonth" selected="ctrl.lastMonthTags"
                                   keys="{id: 'id', title: 'name', all: false, name:'上月评级'}"></hs-new-select>
                  </div>

                </div>
                <!--<div class="col-md-2">-->
                  <!--<search-box click="ctrl.openItem()" data="ctrl.com.product.val" key="'商品'"></search-box>-->
                <!--</div>-->
              </div>
              <div style="margin-top: 15px" ng-show="ctrl.showSearchRes">
                <search-result-box keys="ctrl.sortCom"></search-result-box>
              </div>

              <div class="setting-box ">
                <div style="float:right;">
                  <search-show show="ctrl.showSearchRes"></search-show>
                  <hs-search search="ctrl.search()" finish="ctrl.key.finish"></hs-search>
                  <button class="btn setting-btn" ng-click="ctrl.getTableOption()">
                    数据设定
                  </button>
                </div>
              </div>
            </div>
          </article>
        </div>

        <!--商品排名部分-->
        <div class="row">
          <article class="col-sm-12">
            <header class="header top">
              <span>商品排名</span>
            </header>
            <div class="body">
              <div class="l_add" ng-if="ctrl.isFinish">
                <table datatable dt-columns="ctrl.columns" dt-options="ctrl.options" dt-instance="ctrl.instance"
                       class="table table-trend hs-table" width="100%">
                </table>
                <empty-table show="ctrl.back.empty"></empty-table>
              </div>
            </div>
          </article>
        </div>

      </section>
    </div>
  </div>
</div>
