<div class="modal-content choose-options" ng-init="ctrl.init()">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
    <h1 class="modal-title" id="storeLabel">门店选择</h1>
  </div>
  <div class="modal-body">
    <div>
      <div class="input-area row choose-content">
        <div class="choose-warn-info col-md-12">
          <div ng-if="ctrl.warnInfo" title="{{ctrl.warnInfo}}">{{ctrl.warnInfo}}</div>
        </div>

        <div class="col-md-4">
          <input auto-focus limit-length  max-length="1500" class="form-control" type="text" placeholder="请输入关键字搜索（多个门店代码用,分割）"
                 ng-model="ctrl.search" ng-change="ctrl.change()"
          />
        </div>
        <div class="col-md-3">
          <select type="text" class="form-control" style="width:100%;"
                  ng-model="ctrl.operation" ng-change="ctrl.change()"
                  ng-options="sto.businessOperationCode as sto.businessOperationName for sto in ctrl.operations">
          </select>
        </div>
        <div class="col-md-3">
          <select type="text" class="form-control" style="width:100%;"
                  ng-model="ctrl.district" ng-change="ctrl.change()"
                  ng-options="sto.districtCode as sto.districtName for sto in ctrl.districts">
          </select>
        </div>
      </div>
      <div class="show-area">
        <div class="show-area-header">
          <span class="show-area-title">门店列表</span>
          <span class="show-area-count">（共有 {{ctrl.initList.length}} 条）</span>
          <span class="checked-button" ng-if="ctrl.isMulti">
            <button class="btn btn-default" ng-click="ctrl.reverseChoose()">
              <i class="fa fa-check"></i>反选</button>
            <button class="btn btn-default" ng-click="ctrl.allChoose()">
              <i class="fa fa-check"></i>全选</button>
          </span>
        </div>
        <div class="show-area-body">
          <span loading show="ctrl.loading"></span>
          <div class="col-sm-3" ng-show="!ctrl.loading"
               ng-repeat="sto in ctrl.initList track by $index"
               ng-click="ctrl.choose(sto, ctrl.initList)">
            <div ng-class="{selectLike: ctrl.isMulti
                        ? sto.selected === true
                        : ctrl.initList.selected === sto[ctrl.type.title]}">
              <div title="{{'[' + sto[ctrl.type.code] + ']' + sto[ctrl.type.title]}}">
                [{{sto[ctrl.type.code]}}]{{sto[ctrl.type.title]}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid margin-top">
      <div class="row selected-box">
        <div class="col-md-1">
          <p>当前选择门店:</p>
          <p>(已选 {{ctrl.selected.length}} 条)</p>
        </div>
        <div class="col-md-9 pad-right-none">
          <select multiple chosen class="form-control m-r-xs" ng-model="ctrl.selected"
                  ng-options="curr as curr.name for curr in ctrl.selected track by curr.code"
            ng-change="ctrl.updateSelected()" width="'100%'" no_results_text="' '" placeholder-text-multiple="' '">
          </select>
        </div>
        <div class="col-md-1 pad-left-none">
          <button type="button" class="btn btn-sm btn-info" ng-click="ctrl.reset()">清除</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="ctrl.ok()">确定</button>
  </div>
</div>
